.build/
.swiftpm/
.DS_Store
*.xcodeproj/
!PoolProblem/PoolProblem.xcodeproj/
PoolProblem/PoolProblem.xcodeproj/xcuserdata/
PoolProblem/PoolProblem.xcodeproj/project.xcworkspace/xcuserdata/
DerivedData/
*.profraw
